<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Books</servlet-name>
        <servlet-class>Books</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Books</servlet-name>
        <url-pattern>/Books</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/secureAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>UserConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>User</web-resource-name>
            <description/>
            <url-pattern>/secureUser/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
            <role-name>UserRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description>Users added to this role will have access to the secureAdmin directory of the server.</description>
        <role-name>AdminRole</role-name>
    </security-role>
    <security-role>
        <description> Users added to this role will have access to the secureUser directory of the server.</description>
        <role-name>UserRole</role-name>
    </security-role>
</web-app>
